header#main-header {
    background: #206fb6;
    height: 72px;
}

header#main-header .header-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}